.bit-snackbar-container
{
  transition: all 500ms ease;
  transition-property: top, right, bottom, left, opacity;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  min-height: 14px;
  background-color: #070b0e;
  color: #FFFFFF;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 22px;
  bottom: -100px;
  top: -100px;
  opacity: 0;
  z-index: 9999; 
}

.bit-snackbar-container .snack-header
{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  padding-right: 5px;
  cursor: default;
}

.bit-snackbar-container .snack-header p
{
  margin: 0;
}

.snack-header.bg-info     {background-color: #04AA6D;}
.snack-header.bg-success  {background-color: #03a9f4;}
.snack-header.bg-warn     {background-color: #ff9800;}
.snack-header.bg-danger   {background-color: #F44336;}
.snack-header.text-info   {color: #04AA6D;}
.snack-header.text-success{color: #03a9f4;}
.snack-header.text-warn   {color: #ff9800;}
.snack-header.text-danger {color: #F44336;}
.snack-header > .text-bg-info    {background-color: #04AA6D;}
.snack-header > .text-bg-success {background-color: #03a9f4;}
.snack-header > .text-bg-warn    {background-color: #ff9800;}
.snack-header > .text-bg-danger  {background-color: #F44336;}

.bit-snackbar-container .snack-message
{
  display: flex; 
  flex-direction: column; 
  width: 100%;
  margin: 10px 10px 10px 15px;
  padding: 0;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.3rem;
}

.bit-snackbar-container .snack-message p
{
  margin: 0;
  align-self: flex-start;
}

.bit-snackbar-container .snack-message .title
{
  font-weight: bold; 
  font-size: 17px;
}

.bit-snackbar-container .snack-action
{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  margin-left: auto;
  padding: 0 15px 0 0;
}

.bit-snackbar-container .snack-action .action {
  background: inherit;
  display: inline-block;
  border: none;
  margin: 0 0 0 5px;
  font-size: 13px;
  font-weight: 100;
  color: #4caf50;
  cursor: pointer; }

.bit-snackbar-container .snack-action .action:hover
{
  background-color:rgba(150, 150, 150, 0.5);
  border-radius: 3px;
  cursor: pointer; 
}

.bit-snackbar-container .snack-action p
{
  display: inline-block;
  border: none;
  font-size: inherit;
  color: #4caf50;
  margin: 0 0 0 24px;
  padding: 0;
  min-width: min-content;
  cursor: pointer; 
}

@media (min-width: 640px) 
{
  .bit-snackbar-container {
    min-width: 288px;
    max-width: 568px;
    display: inline-flex;
    border-radius: 5px;
    margin: 10px; } 
}

@media (max-width: 640px) 
{
  .bit-snackbar-container {
    left: 0;
    right: 0;
    width: 100%; } 
}

.bit-snackbar-pos.bottom-center 
{
  top: auto !important;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0); 
}

.bit-snackbar-pos.bottom-left 
{
  top: auto !important;
  bottom: 0;
  left: 0; 
}

.bit-snackbar-pos.bottom-right 
{
  top: auto !important;
  bottom: 0;
  right: 0; 
}

.bit-snackbar-pos.top-left 
{
  bottom: auto !important;
  top: 0;
  left: 0; 
}

.bit-snackbar-pos.top-center 
{
  bottom: auto !important;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0); 
}

.bit-snackbar-pos.top-right 
{
  bottom: auto !important;
  top: 0;
  right: 0; 
}

@media (max-width: 640px) 
{
  .bit-snackbar-pos.bottom-center, .bit-snackbar-pos.top-center {
    left: 0;
    transform: none; } 
}
